.additional-days-container {
  display: flex;
  background-color: rgba(255, 255, 255, 0.6);
  border-radius: 0.3rem;
  justify-content: center;
  width: 43rem;
  gap: 5rem;
  padding: 1rem;
}

.additional-day {
  color: black;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 15rem;
}

.longterm-weather-photo img {
  max-width: 70px;
}
