.additional-days-container {
  display: flex;
  gap: 2rem;
}

.additional-day {
  color: black;
  background-color: rgba(255, 255, 255, 0.6);
  width: 12rem;
  display: flex;
  justify-content: center;
  border-radius: 0.3rem;
}
